.Stage1Web {
    background: #FFFFFF;
}

.stage1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 64px 112px;
    gap: 24px;
}

.main__section {
    flex-direction: column;
    align-items: center;
    padding: 0px 32px;
    gap: 32px;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 24px;
    isolation: isolate;
}

#profile__img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    flex: none;
    order: 0;
    flex-grow: 0;
    z-index: 0;
}

.shareButton{
    position: absolute;
    width: 40px;
    height: 40px;
    right: 208px;
    background: #FFFFFF;
    border: 1px dashed #D0D5DD;
    border-radius: 20px;
}

.shareContent {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px;
    position: absolute;
    left: 15%;
    right: 15%;
    top: 15%;
    bottom: 15%;
    border-radius: 12px;
}

.share {
    width: 20px;
    height: 20px;
}

.icon {
    position: absolute;
    left: 12.5%;
    right: 11.53%;
    top: 14.95%;
    bottom: 14.95%;
}


#twitter {
    width: 1152px;
    height: 30px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #101828;
}

.links {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 24px;
}

.links > button {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 24px 32px;
    gap: 8px;
    width: 1152px;
    height: 76px;
    background: #EAECF0;
    border: 1px solid #EAECF0;
    border-radius: 8px;
}

a {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #101828;
    flex: none;
    order: 0;
    flex-grow: 0;
    text-decoration: none;
}

.links > button:hover {
    gap: 12px;
    left: 16px;
    top: 108px;
    background: #D0D5DD;
    border: 1px solid #D0D5DD;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
}

.social {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px 0px;
    gap: 64px;
    background: #ffffff;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.social__container {
    flex-direction: column;
    align-items: center;
    padding: 0px 32px;
    gap: 32px;
}

.social__content {
    flex-direction: row;
    align-items: center;
    padding: 0px;
}

.social__icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 24px;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 48px 0px;
    gap: 64px;
    left: 0px;
    top: 998px;
}

.footer__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 32px;
    gap: 32px;
    width: 1280px;
    height: 64px;
}

.footer__content {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 32px 0px 0px;
    gap: 32px;
    width: 1216px;
    height: 64px;
    border-top: 1px solid #EAECF0;
}

.contact__page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 64px 0px 96px;
    gap: 64px;
}

.contact__contain{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 32px;
    gap: 64px;
}

.contact__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
}

.contact__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 48px;
}

header > h1 {
    width: 448px;
    height: 44px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: -0.02em;
}

header > p {
    width: 720px;
    height: 30px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #475467;
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 32px;
    width: 720px;
    height: 474px;
}

.form__field {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    width: 720px;
    height: 394px;
}

.form__name {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    width: 720px;
    height: 70px;
}

.firstname > label {
    width: 71px;
    height: 20px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #344054;
}

.firstname > input {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 14px;
    gap: 8px;
    width: 348px;
    height: 44px;
    background: #FFFFFF;
    border: 1px solid #D0D5DD;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
}

.firstname > input::placeholder {
    width: 320px;
    height: 24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #667085;
}

.firstname {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 6px;
    width: 348px;
    height: 70px;
}

.lastname {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 6px;
    width: 348px;
    height: 70px;
}

.lastname > label {
    width: 71px;
    height: 20px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #344054;
}

.lastname > input {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 14px;
    gap: 8px;
    width: 348px;
    height: 44px;
    background: #FFFFFF;
    border: 1px solid #D0D5DD;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
}

.lastname > input::placeholder {
    width: 320px;
    height: 24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #667085;
}

.email {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 6px;
    width: 720px;
    height: 70px;
}

.email > label {
    width: 36px;
    height: 20px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #344054;
}

.email > input {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 14px;
    gap: 8px;
    width: 720px;
    height: 44px;
    background: #FFFFFF;
    border: 1px solid #D0D5DD;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
}

.email > input:focus {
    background: #FFFFFF;
    border: 1px solid #84CAFF;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
}

.email > input::placeholder {
    width: 692px;
    height: 24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #667085;
}

.message {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 6px;
    width: 720px;
    height: 158px;
}

.message > label {
    width: 61px;
    height: 20px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #344054;
}

.message > textarea {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 12px 14px;
    gap: 8px;
    width: 720px;
    height: 132px;
    background: #FFFFFF;
    border: 1px solid #D0D5DD;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
    overflow: hidden;
}

.message > textarea::placeholder {
    width: 692px;
    height: 108px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #667085;
}

.form__checkbox {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 12px;
    width: 720px;
    height: 24px;
}

.form__checkbox > input {
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    background: #FFFFFF;
    border: 1px solid #D0D5DD;
    border-radius: 6px;
}

.form__checkbox > input:focus {
    background: #FFFFFF;
    border: 1px solid #84CAFF;
    box-shadow: 0px 0px 0px 4px #D1E9FF;
    border-radius: 6px;
}

.form__checkbox > label {
    width: 688px;
    height: 24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #475467;
}

#btn__submit {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 20px;
    gap: 8px;
    width: 720px;
    height: 48px;
    background: #1570EF;
    border: 1px solid #1570EF;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
}

#btn__submit:hover {
    background: #175CD3;
    border: 1px solid #175CD3;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
}

#btn__submit:focus {
    background: #1570EF;
    border: 1px solid #1570EF;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05), 0px 0px 0px 4px #D1E9FF;
    border-radius: 8px;
}

#btn__submit:disabled {
    background: #B2DDFF;
    border: 1px solid #B2DDFF;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
}

#btn__submit {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

@media screen and (max-width: 1024px) {
    
    .stage1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 64px 0px 32px;
        gap: 24px;
        height: 892px;
    }
    
    .main__section {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px 16px;
        gap: 32px;
        height: 700px;
    }
    
    .profile {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px;
        gap: 24px;
        isolation: isolate;
        width: 343px;
        height: 140px;
    }
    
    #profile__img {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0px;
        width: 88px;
        height: 88px;
    }

    .shareButton{
        position: absolute;
        width: 40px;
        height: 40px;
        right: 35px;
        background: #FFFFFF;
        border: 1px dashed #D0D5DD;
        border-radius: 20px;
    }
    
    .shareContent {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 4px;
        position: absolute;
        left: 15%;
        right: 15%;
        top: 15%;
        bottom: 15%;
        border-radius: 12px;
    }
    
    .share {
        width: 20px;
        height: 20px;
    }
    
    .icon {
        position: absolute;
        left: 17.67%;
        right: 17.67%;
        top: 20.83%;
        bottom: 20.83%;
    }
    
    
    #twitter {
        width: 343px;
        height: 28px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 28px;
        text-align: center;
        color: #101828;
    }
    
    .links {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px;
        gap: 24px;
        width: 343px;
        height: 528px;
    }

    #btn__zuri #books #book__python #pitch #book_design{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0px;
        gap: 12px;
        width: 343px;
        height: 68px;
        overflow-x: scroll;
        filter: drop-shadow(0px 1px 2px rgba(16, 24, 40, 0.05));
    }
    
    .links > button {
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 24px 32px;
        gap: 8px;
        width: 343px;
        height: 68px;
        background: #EAECF0;
        border: 1px solid #EAECF0;
        border-radius: 8px;
    }
    
    a {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        display: flex;
        align-items: center;
        text-align: center;
        color: #101828;
        text-decoration: none;
    }
    
    .links > button:hover {
        gap: 12px;
        left: 16px;
        top: 108px;
        background: #D0D5DD;
        border: 1px solid #D0D5DD;
        box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    }
    
    .social {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 24px 0px;
        gap: 64px;
        background: #ffffff;
        height: 72px;
        flex: none;
        order: 1;
        align-self: stretch;
        flex-grow: 0;
    }
    
    .social__container {
        flex-direction: column;
        align-items: center;
        padding: 0px 16px;
        gap: 32px;
        width: 375px;
        height: 24px;
    }
    
    .social__content {
        flex-direction: row;
        align-items: center;
        padding: 0px;
        width: 343px;
        height: 24px;
    }
    
    .social__icon {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0px;
        gap: 24px;
    }
    
    .footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 16px 0px;
        gap: 64px;
        height: 196px;
        left: 0px;
        top: 892px;
    }
    
    .footer__container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px 16px;
        gap: 32px;
        width: 375px;
        height: 132px;
    }
    
    .footer__content {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 32px 0px 0px;
        gap: 16px;
        width: 343px;
        height: 132px;
        border-top: 1px solid #EAECF0;
    }

    .contact__page {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 64px 0px;
        gap: 48px;
        background: #FFFFFF;
    }
    
    .header__container{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 0px 16px;
        width: 375px;
        height: 116px;
    }
    
    .header__content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 32px;
        width: 343px;
        height: 116px;
    }
    
    header > h1 {
        width: 343px;
        height: 44px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 36px;
        line-height: 44px;
        letter-spacing: -0.02em;
        color: #101828;
    }
    
    header > p {
        width: 343px;
        height: 56px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
        color: #475467;
    }

    .form__container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px 16px;
        gap: 48px;
    }
    
    .form__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px;
        gap: 48px;
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 32px;
    }

    .form__field {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 24px;
        width: 343px;
        height: 512px;
    }

    .form__nameMob {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 24px;
        width: 343px;
        height: 70px;
    }
    
    .firstname > label {
        width: 71px;
        height: 20px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        color: #344054;
    }
    
    .firstname > input {
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 10px 14px;
        gap: 8px;
        width: 343px;
        height: 44px;
        background: #FFFFFF;
        border: 1px solid #D0D5DD;
        box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
        border-radius: 8px;
    }
    
    .firstname > input::placeholder {
        width: 315px;
        height: 24px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #667085;
    }
    
    .firstname {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 6px;
        width: 343px;
        height: 70px;
        flex: none;
        order: 0;
        align-self: stretch;
        flex-grow: 0;
    }
    
    .lastname {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 6px;
        width: 343px;
        height: 70px;
        flex: none;
        order: 1;
        align-self: stretch;
        flex-grow: 0;
    }
    
    .lastname > label {
        width: 71px;
        height: 20px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        color: #344054;
    }
    
    .lastname > input {
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 10px 14px;
        gap: 8px;
        width: 343px;
        height: 44px;
        background: #FFFFFF;
        border: 1px solid #D0D5DD;
        box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
        border-radius: 8px;
    }
    
    .lastname > input::placeholder {
        width: 315px;
        height: 24px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #667085;
    }
    
    .email {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 6px;
        width: 343px;
        height: 70px;
        flex: none;
        order: 2;
        align-self: stretch;
        flex-grow: 0;
    }
    
    .email > label {
        width: 36px;
        height: 20px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        color: #344054;
    }
    
    .email > input {
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 10px 14px;
        gap: 8px;
        width: 343px;
        height: 44px;
        background: #FFFFFF;
        border: 1px solid #D0D5DD;
        box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
        border-radius: 8px;
    }
    
    .email > input::placeholder {
        width: 315px;
        height: 24px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #667085;
    }
    
    .message {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 6px;
        width: 343px;
        height: 158px;
        flex: none;
        order: 3;
        align-self: stretch;
        flex-grow: 0;
    }
    
    .message > label {
        width: 61px;
        height: 20px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        color: #344054;
    }
    
    .message > textarea {
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 12px 14px;
        gap: 8px;
        width: 343px;
        height: 132px;
        background: #FFFFFF;
        border: 1px solid #D0D5DD;
        box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
        border-radius: 8px;
    }
    
    .message > textarea::placeholder {
        width: 315px;
        height: 108px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #667085;
    }
    
    .form__checkbox {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 0px;
        gap: 12px;
        width: 343px;
        height: 24px;
        flex: none;
        order: 4;
        align-self: stretch;
        flex-grow: 0;
    }
    
    .form__checkbox > input {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 2px 0px 0px;
        width: 20px;
        height: 22px;
    }
    
    .form__checkbox > label {
        width: 311px;
        height: 48px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #475467;
    }
    
    #btn__submit {
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 12px 20px;
        gap: 8px;
        width: 343px;
        height: 48px;
        background: #1570EF;
        border: 1px solid #1570EF;
        box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
        border-radius: 8px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        color: #FFFFFF;
    }    
  }